*{
    font-family: AppleChicagoFont;
    color:#03A062;
    background-color: black;
}
#layout{
    display: flex;
    flex-direction: row;
}
#container-leftColumn{
    display: flex;
    flex-direction: column;
}
#container-map{

}
#container-map h1{
    margin: 0.25em;
}
#map{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#map cell{
    border: 0.1em solid #03A062;
    width: 8em;
    height: 2em;
    margin: 0.1em;
    color:#000000;
    font-family: AppleChicagoFont;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#map cell:hover{

}
#container-rightColumn{
    display: flex;
    flex-direction: column;
}
#container-topHalf{
    display: flex;
    flex-direction: row;
}
#container-centralImage{

}
#image{
    width: 45em;
    height: 25em;
    border: 0.1em solid #03A062;
    margin: 1em;
}
#container-inventory{
    display: flex;
    flex-direction:column;
}
#inventory{
    display: grid;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: repeat(4, 4em);
    gap: 0.5em;
    margin:1em;
}
#container-inventory p{
    margin-top: 1em;
    margin-bottom: 0.1em;
}
#inventory .cell{
    color:#03A062;
    border: 0.1em solid #03A062;
    display:flex;
    align-items: center;
    justify-content: center;
}
#inventory .cell:hover{
    border: 0.3em solid #03A062;
}
#container-inventoryUse{
    display:flex;
    align-items: center;
    justify-content: center;
}
#container-inventoryUse cell{
    color:#03A062;
    border: 0.1em solid #03A062;
    width: 4em;
    height: 4em;
    display:flex;
    align-items: center;
    justify-content: center;
}
#container-inventoryUse button{
    color:#000000;
    background-color:#03A062;
    border: 0.1em solid #03A062;
    width: 8em;
    height: 4em;
    margin-left: 1em;
}
#container-inventoryUse button:hover{
    background-color: #000000;
    color:#03A062;
}
#container-bottomHalf{
    display:flex;
    flex-direction: column;
}
#container-options{
    display: flex;
    align-items: center;
}
#options{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    margin-top: 2em;
}
#options button{
    font-family: AppleChicagoFont;
    background-color: #03A062;
    border: 0.2em solid #03A062;
    color:#000000;
    margin-left:0.8em;
    margin-right:0.8em;
    margin-top:0.7em;
    padding:0.5em;
    width: 28em;
    height: 3em;
}
#options button:hover{
    background-color: #000000;
    color:#03A062;
}
#container-middleDialogue{
    display: flex;
    align-items: center;
}
#dialogueBox{
    font-size: 1em;
    color:black;
    border: 0.1em solid #03A062;
    margin: 0.1em;
    padding: 0.5em;
    width: 50em;
    height: 14em;
}
#dialogue{
    font-family: AppleChicagoFont;
    color:#03A062;
    margin-left: 0.3em;
    margin-top: 0.3em;
}

@font-face {
    font-family: 'AppleChicagoFont';
    src: url('../fonts/ChicagoFLF.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #03A062;
    background: rgb(0, 0, 0);
    padding: 1%;
    width: 50%;
    height: 40%;
}
#instruction-text{
    font-family: AppleChicagoFont;
    color:#03A062;
}
.outcome{
    font-family: AppleChicagoFont;
    color:#03A062;
}
#myProgress {
    width: 100%;
    background-color: #000000;
    height: 20px;
    margin-left: 1%;
    align-items: center;
}
#myBar {
    transition: width 0.05s linear;
    width: 100%;
    height: 100%;
    background-color: #03A062;
}
input[type="text"] {
    width: 80%;
    padding: 2%;
    margin-top: 1%;
    font-size: 1em;
    border: 2px solid #03A062;
    outline: none;
    color:#03A062;
}